---
import MainLayout from '../partials/main-layout.astro'
import { getCollection, render } from 'astro:content';

const faqData = await getCollection('frequentlyAskedQuestions')
const questions = await Promise.all(faqData.map(async (question) => {
  const {Content}  = await render(question)
  return {
    question: question.data.question,
    answer: Content
  }
}))
---
<MainLayout title="Vanliga frågor">
  <h1> Vanliga Frågor</h1>
{questions.map(question => (
  <details>
    <summary>
      {question.question}
    </summary>
    <question.answer />
  </details>
))}
</MainLayout>