---
import {type CollectionEntry, render } from 'astro:content'
import {Image} from 'astro:assets'
import loadContentImage from '../utils/load-content-image'

interface Props {
  section: CollectionEntry<'frontPageSections'>
}
const {section} = Astro.props
const {Content} = await render(section)
const {image, link} = section.data
console.log(link)
---
<section>
{image && <Image src={loadContentImage(image)} alt="" />}
<Content />
</section>